<h1><%= t('tasks.Index') %></h1>
<%= form_with(model: Task.new, method: :get, local: true) do |f| %>
  <div class="serch_row">
    <% if params[:task] %>
      <%= f.label :title %>
      <%= f.text_field :title, value: params[:task][:title] %>
    <% else %>
      <%= f.label :title %>
      <%= f.text_field :title %>
    <% end %>
  </div>
  <%= f.submit 'Search' %>
  <%= link_to 'Clear', tasks_path(task: nil) %>
<% end %>
<%= link_to t('link.New Task'), new_task_path %>
<%= link_to t('link.sort.deadline'), request.params.merge(sort_expired: 'true') %>
<table class="table index">
  <tr>
    <th><%= Task.human_attribute_name(:title) %></th>
    <th><%= Task.human_attribute_name(:content) %></th>
    <th><%= Task.human_attribute_name(:status) %></th>
    <th><%= Task.human_attribute_name(:deadline) %></th>
    <th><%= Task.human_attribute_name(:created_at) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <div class="table item">
    <% @tasks.each do |task| %>
      <tr class="task_row">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= t("task.status.#{task.status}") %></td>
        <td><%= l task.deadline %></td>
        <td><%= l task.created_at %></td>
        <td><%= link_to t('link.Show'), task_path(task) %></td>
        <td><%= link_to t('link.Edit'), edit_task_path(task) %></td>
        <td><%= link_to t('link.Destroy'), task_path(task), method: :delete, data: {confirm: t('message.Are you sure?', title: task.title)} %></td>
      </tr>
    <% end %>
  </div>
</table>
