<h1><%= t('tasks.Index') %></h1>
<%= form_with(model: Task.new, method: :get, local: true) do |f| %>
  <div class="serch_row">
    <%= f.label :title %>
    <%= f.text_field :title, value: @search_task_params[:title] %>
  </div>
  <div class="serch_row">
    <%= f.label :status %>
    <%= f.select :status, Task.statuses.keys.map { |k| [t("task.status.#{k}"), k] }, { include_blank: true, selected: @search_task_params[:status] } %>
  </div>
  <%= f.submit t('button.Search') %>
  <%= link_to t('link.Clear'), tasks_path %>
<% end %>
<%= link_to t('link.New Task'), new_task_path %>
<%= link_to t('link.sort.deadline'), request.params.merge(sort_expired: 'true') %>
<%= link_to t('link.sort.priority'), request.params.merge(sort_priority: 'true', sort_expired: nil) %>
<table class="table index">
  <tr>
    <th><%= Task.human_attribute_name(:title) %></th>
    <th><%= Task.human_attribute_name(:content) %></th>
    <th><%= Task.human_attribute_name(:deadline) %></th>
    <th><%= Task.human_attribute_name(:created_at) %></th>
    <th><%= Task.human_attribute_name(:status) %></th>
    <th><%= Task.human_attribute_name(:priority) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <div class="table item">
    <% @tasks.each do |task| %>
      <tr class="task_row">
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= l task.deadline %></td>
        <td><%= l task.created_at %></td>
        <td><%= t("task.status.#{task.status}") %></td>
        <td><%= t("task.priority.#{task.priority}") %></td>
        <td><%= link_to t('link.Show'), task_path(task) %></td>
        <td><%= link_to t('link.Edit'), edit_task_path(task) %></td>
        <td><%= link_to t('link.Destroy'), task_path(task), method: :delete, data: {confirm: t('message.Are you sure?', title: task.title)} %></td>
      </tr>
    <% end %>
    <%= paginate @tasks %>
    <%= page_entries_info @tasks %>
  </div>
</table>
