<h2><%= t('users.Index') %></h2>
<br>
<div class="btn_new">
  <%= link_to t('link.user.New'), new_admin_user_path, class: 'btn btn-primary' %>
</div>
<table class="table index">
  <tr>
    <th><%= User.human_attribute_name(:name) %></th>
    <th><%= User.human_attribute_name(:email) %></th>
    <th><%= User.human_attribute_name(:admin) %></th>
    <th><%= t('users.task_count') %></th>
    <th><%= User.human_attribute_name(:created_at) %></th>
    <th><%= User.human_attribute_name(:updated_at) %></th>
  </tr>
  <div class="table item">
    <% @users.each do |user| %>
      <tr class="task_row">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= t("admin.#{user.admin}") %></td>
        <td><%= user.tasks.count %></td>

        <td><%= l user.created_at %></td>
        <td><%= l user.updated_at %></td>
        <td><%= link_to t('link.Show'), admin_user_path(user), class: 'btn btn-primary btn-sm' %></td>
        <td><%= link_to t('link.Edit'), edit_admin_user_path(user), class: 'btn btn-success btn-sm' %></td>
        <td><%= link_to t('link.Destroy'), admin_user_path(user), class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: t('message.user.Are you sure?', user: user.name)} %></td>
      </tr>
    <% end %>
  </div>
</table>
